<ng-template #tplLogin>
  <div class="login">
    <h1>LOGIN</h1>
    <ng-container *ngFor="let t of targetHosts">
      <button class="primary" (click)="login(t)">Login to '{{t.host}}/{{t.tenant}}'</button>
    </ng-container>
  </div>
</ng-template>


<ng-container *ngIf="user; else tplLogin">
  <header>
    <ng-container><button (click)="logout()">Logout</button></ng-container>
  </header>

  <main>
    <h1>Welcome, {{user.firstname}}!</h1>
    <yuv-quick-search (querySubmit)="onQuickSearchQuery($event)" (queryReset)="onQuickSearchReset()"></yuv-quick-search>

    <div class="result" [ngStyle]="{opacity: result.length ? 1 : 0}">
      <div class="item" (click)="selected=i" *ngFor="let i of result">
        <strong>{{i.title}}</strong>
        <em>{{i.description}}</em>
      </div>
    </div>

    <div class="details" *ngIf="selected">
      <yuv-object-details [objectId]="selected.id">
      </yuv-object-details>
      <button (click)="selected = undefined">X</button>
    </div>

  </main>
</ng-container>