@import "~@yuuvis/framework/framework.css";

:root {

    --color-accent-rgb: 127,172, 65
}

html {
    background-image: url('assets/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    font-weight: var(--font-weight-light);
    font-size: var(--font-display);
}